@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*,
*::after,
*::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --fs: 250ms ease-in-out;
}
a{
    text-decoration: none;
    color: inherit;
}
li{
    list-style: none;
}
button,input,textarea{
    outline: none;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    font-family: 'Poppins',sans-serif;
    background: linear-gradient(90deg,rgb(2, 187, 110),74%,rgb(0, 153, 255));
}
.app-card{
    background: rgba(30,30,30);
    color: #fff;
    height: fit-content;
    overflow: hidden;
    width: 350px;
    padding: .5rem 1rem;
    transition: var(--fs);
    border-radius: .3rem;
    box-shadow: 0 10px 20px 0 rgba(0,0,0,.6);
}
.upload-box{
    background: #2a2d2e;
    padding: .5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height: 150px;
    user-select: none;
    cursor: pointer;
    border-radius: .3rem;
    transition: all .3s ease-in-out;
    font-size: 1.3rem;
}
.hide{
    pointer-events: none;
    visibility: hidden;
    position: fixed;
    opacity: 0;
}
.height{
    height: 0;
}
.app{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 500px;
    transition: all 1.5s ease-in-out;
}
.app-head{
    width: 100%;
    text-align: center;
    font-size: 1.3rem;
    margin-bottom: 1rem;
}
.app-banner{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 210px;
    border: none;
    border-radius: .3rem;
    background: #2a2d2e;
}
.app-result{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.info{
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    font-size: 1.3rem;
    text-align: center;
}
.output{
    width: 100%;
}
.text{
    width: 100%;
    border: none;
    font-family: 'Poppins',sans-serif;
    padding: .5rem 1rem;
    resize: none;
    border-radius: .3rem;
    background: #2a2d2e;
    color: #fff;
    text-align: center;
    font-size: 1.3rem;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.app-opt{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
    gap: 5px;
    margin-bottom: .5rem;
}
.close,.copy{
    padding: .5rem 1rem;
    border: none;
    font-size: 1.3rem;
    width: 50%;
    border-radius: .3rem;
    cursor: pointer;
    transition: var(--fs);
}
.close{
    background: rgb(226, 9, 74);
    color: #fff;
}
.copy{
    background: rgb(8, 160, 96);
    color: #fff;
}
.close:hover,.copy:hover{
    scale: .95;
}
.img{
    height: 100%;
    width: fit-content;
}
.upload-box:hover{
    scale: .95;
}
.upload-box:active{
    scale: .98;
}
.red{
    color: rgb(228, 10, 83);
}